<footer class="footer">
    <div class="container">
            <div class="footer__logo col-md-6 col-md-offset-3 text-center">
            <%= link_to root_path do %>
              <img src="/images/logo.jpg" alt="ロゴ">
            <% end %>
            </div>
                <div class="row">
                    <div class="col-md-4">
                        <ul class="list-group">
                            <li class="c-only-bold first">
                                <%= link_to "トップ", root_path %>
                            </li>
                            <li>
                                <%= link_to "Matchingとは？", about_path %>
                            </li>
                            <li>
                                <%= link_to "チケット一覧", items_path %>
                            </li>
                            <li>
                                <%= link_to "利用規約", terms_path %>
                            </li>
                        </ul>
                        <!-- /nav -->
                    </div>
                     <div class="col-md-4">
                        <ul class="list-group">
                            <li class="c-only-bold first">
                                <%= link_to "マイページ", mypage_path %>
                            </li>
                            <li>
                                <%= link_to "マイページ項目", mypage_path %>
                            </li>
                            <li>
                                <%= link_to "マイページ項目", mypage_path %>
                            </li>
                            <li>
                                <%= link_to "マイページ項目", mypage_path %>
                            </li>
                            <li>
                                <%= link_to "マイページ項目", mypage_path %>
                            </li>
                        </ul>
                        <!-- /nav -->
                    </div>
                </div>
        <div class="clearfix"></div>
      <div class="container">
        <p class="text-center text-muted footer__copyright">
          &copy; 2016 Matching All Rights Reserved.
        </p>
      </div>
  </div>
</footer>

