<header>
   <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle collapsed" data-target="#navbar-menu" data-toggle="collapse">
          <span class="sr-only">メニュー</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to root_path, class: "navbar-brand" do %>
          <img src="/images/logo.jpg" alt="ロゴ">
        <% end %>
      </div>
      <div class="collapse navbar-collapse" id="navbar-menu">
        <ul class="nav navbar-nav">
          <li class="navbar-nav--emphasis">
            <%= link_to items_path do %>
              <b>販売中の</b><br>チケット
            <% end %>
          </li>
          <li>
            <%= link_to about_path do %>
              ○○とは？
            <% end %>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if current_user.nil? %>
          <li class="navbar-nav--register">
            <!-- <a data-target="sign_up" class="modal-open">ユーザー登録</a> -->
            <%= link_to "ユーザー登録", new_user_registration_path %>
          </li>
          <li class="navbar-nav--login">
            <%= link_to "ログイン", new_user_session_path %>
          </li>
          <% else %>
          <li class="navbar-nav--register">
            <%= link_to "チケット登録", new_item_path %>
          </li>
          <li class="navbar-nav--login">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>

<!--Modal contents-->
<!-- TODO -->

</header>

