<div class="row">
  <% if message.sender == current_user %>
  <div class="col-md-3">
  </div>
  <% else %>
  <div class="col-md-2 text-right">
    ID: <%= message.sender.id %><br>
    <%= message.sender.email %>
  </div>
  <% end %>
  <div class="col-md-7">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= message.body %>
      </div>
      <div class="panel-footer text-right">
        <%= l message.created_at %>
      </div>
    </div>
  </div>
  <% if message.sender == current_user %>
  <div class="col-md-2">
    ID: <%= message.sender.id %><br>
    <%= message.sender.email %>
  </div>
  <% else %>
  <div class="col-md-3">
  </div>
  <% end %>
</div><!-- .row -->
