<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-body">
      ユーザー: <%= item.user.try!(:email) %><br>
      サービス:
      <% item.services.each_with_index do |service, i| %>
        <% if i != 0 %>, <% end %><%= service.name %>
      <% end %>
      <br>
      時間: <%= item.execution_time %> 分<br>
      詳細: <%= item.detail %><br>
      値段: <%= item.price %><br>
    </div>
    <div class="panel-footer text-center">
      <% unless item.user.nil? %>
        <% if current_user.try!(:id) == item.user.id %>
          <%= link_to "メッセージを送る", "#", class: "btn btn-default disabled" %>
        <% else %>
          <%= link_to "メッセージを送る", mypage_user_messages_path(item.user), class: "btn btn-default" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
