<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-body">
      ユーザー: <%= item.user.try!(:email) %><br>
      時間: <%= item.execution_time %> 分<br>
      サービスの内容: <%= item.service.try!(:name) %><br>
      詳細: <%= item.detail %><br>
      値段: <%= item.price %><br>
    </div>
    <div class="panel-footer text-center">
      <a href="#" class="btn btn-default">メッセージを送る</a>
    </div>
  </div>
</div>
