<div class="col-sm-4">
         <div class="panel panel-default job-panel">
          <div class="panel-header job-panel__header">
                <div class="col-sm-4 text-center">
                   <dl>
                       <dt>
                         <%= link_to item do %>
                           <%= image_tag item.user.profile_image.url, class: "job-panel__profile-img", size: "80x80", alt: "プロフィール写真" %>
                         <% end %>
                       </dt>
                       <dd>
                         <%= link_to item do %>
                           <p><%= item.user.account_name.nil? ? "(アカウント名未登録)" : item.user.account_name %></p>
                         <% end %>
                       </dd>
                   </dl>
                </div>
                <div class="col-sm-8">
                    <%= link_to item do %>
                      <p><%= item.user.profile.nil? ? "(プロフィール未登録)" : item.user.profile %></p>
                    <% end %>
                </div>
           </div>
               <div class="panel-body">
                 <h4 class="job-panel__title">
                     <%= link_to item.detail.nil? ? "(タイトルなし)" : item.detail, item %>
                 </h4>
                    <ul class="job-panel__timePlace">
                        <li><i class="fa fa-map-marker fa-fw" aria-hidden="true"></i>東京</li>
                        <li><i class="fa fa-calendar fa-fw" aria-hidden="true"></i>今日, 7/30 11:00-</li>
                    </ul>
                     <div class="col-md-3 job-panel__list">
                       <p class="text-center c-small-text">購入</p>
                       <p class="text-center c-big-text">4</p>  
                     </div>
                     <div class="col-md-5 job-panel__list">
                       <p class="text-center c-small-text">評価</p>
                       <p class="text-center c-small-text"><i class="fa fa-star job-panel__rate fa-lg" aria-hidden="true"></i><i class="fa fa-star job-panel__rate fa-lg" aria-hidden="true"></i><i class="fa fa-star job-panel__rate fa-lg" aria-hidden="true"></i><i class="fa fa-star job-panel__rate fa-lg" aria-hidden="true"></i><i class="fa fa-star-o job-panel__rate fa-lg" aria-hidden="true"></i>(3)</p>  
                     </div>
                     <div class="col-md-4 job-panel__list">
                       <p class="text-center c-small-text">料金</p>
                       <p class="text-center c-big-text"><span class="c-small-text">￥</span><%= number_with_delimiter(item.price) %><span class="c-small-text">-</span></p>  
                     </div>
              </div> 
           <div class="panel-footer text-center">
               <% if current_user.try!(:id) == item.user.id %>
                 <%= link_to "#", class: "btn btn-danger disabled" do %>
                   <i class="fa fa-comments-o fa-fw" aria-hidden="true"></i>メッセージを送る
                 <% end %>
               <% else %>
                 <%= link_to mypage_user_messages_path(item.user), class: "btn btn-danger" do %>
                   <i class="fa fa-comments-o fa-fw" aria-hidden="true"></i>メッセージを送る
                 <% end %>
               <% end %>
           </div>
       </div>
</div>

