<% content_for :title do %>
チケット一覧
<% end %>

    <div class="jumbotron-underlayer">
        <div class="jumbotron">
          <div class="container">
            <h2 class="text-center jumbotron-underlayer__title">
                チケット一覧
            </h2>
          </div>
        </div>
    </div>

    <div class="p-search_area c-border-t c-border-r c-border-l">
     <div class="container">

        <div>
           <div class="p-items-search-tab"> 
            <div class="select-box select-box__left pull-left">
                <label>
                <select id="tab-service" name='tab-service'>
                    <option value="">サービス内容</option>
                    <optgroup>
                    <%= Service.all.each do |service| %>
                      <option value="<%= service.id %>"><%= service.name %></option>
                    <% end %>
                    </optgroup>
                </select>
                </label>
            </div>

            <div class="select-box select-box__right pull-left">
                <label>
                <select id="tab-area" name='tab-area'>
                    <option value="">エリア</option>
                    <optgroup>
                    <%= JapanPrefecture.all.each do |japan_prefecture| %>
                      <option value="<%= japan_prefecture.id %>"><%= japan_prefecture.name %></option>
                    <% end %>
                    </optgroup>
                </select>
                </label>
            </div>
           </div><!-- .p-itens-search-tab -->
         </div>

         <div class="p-items-search-tab__selected-tab"> 
                <ul class="selected-tab__item">
                 </ul>
        </div>


         <div class="text-center">
           <div class="p-items-search-tab tab-date"> 
                <div class="select-box select-box__right pull-right">
                    <p class="p-search-tab__tomorrow" data-date="tomorrow">明日</p>
                </div>

                <div class="select-box pull-right">
                    <p class="p-search-tab__today" data-date="today">今日</p>
                </div>

                <div class="select-box select-box__left pull-right">
                    <p class="p-search-tab__all active" data-date="">すべて</p>
                </div>
           </div><!-- .p-itens-search-tab -->
         </div>   

    </div>
  </div><!-- .p-search_area -->

<section class="section c-bg-dark c-border-r c-border-l">
  <div id="list">
    <%= render "list", items: @items %>
  </div>
</section>

<%= render "shared/voice" %>
