<% content_for :title do %>チケット登録<% end %>

<% content_for :js do %>
<link href="/css/datepicker.css" rel="stylesheet" type="text/css">
<script src="/js/datepicker.min.js"></script>
<script src="/js/datepicker_script.js"></script>
<script>
$(function() {
  // 全ての都道府県 select にイベント登録
  $('.nested-fields .s_jp').each(function() {
    //refresh_select($(this));
    $(this).change('click', function() {
      get_city($(this).val(), $(this).next());
    });
  });

  function refresh_select(select_prefecture) {
    get_city(select_prefecture.val(), select_prefecture.next());
    select_prefecture.change('click', function() {
      get_city($(this).val(), $(this).next());
    });
  }

  function get_city(japan_prefecture_id, select_city) {
    $.ajax({
      type: "GET",
      url: "/japan_cities",
      timeout: 10000,
      cache: true,
      dataType: "json",
      data: {
        japan_prefecture_id: japan_prefecture_id
      },
      success: function(response) {
        data = response;
        apply_select_city(select_city, data);
      }
    });
  }

  function apply_select_city(select_city, data) {
    select_city.children().remove();
    select_city.append($("<option>").val("").text("市町村"));
    for(var i = 0; i < data.length; i++) {
      d = data[i];
      select_city.append($("<option>").val(d.id).text(d.name));
    }
  }

  // http://mikazuki.hatenablog.jp/entry/2016/03/26/040229
  $('.item_available_japan_places a.remove_fields').hide();
  $('.item_available_japan_places').on('cocoon:after-insert', function(e, insertedItem) {
    check_japan_places();

    insertedItem.find('.s_jp').each(function() {
      refresh_select($(this));
    });
  });
  $('.item_available_japan_places').on('cocoon:after-remove', function() {
    check_japan_places();
  });

  function check_japan_places() {
    if($('.item_available_japan_places .nested-fields').length == 5) {
      $('.item_available_japan_places a.add_fields').hide();
    } else {
      $('.item_available_japan_places a.add_fields').show();
    }
  }

  $('.item_available_datetimes a.remove_fields').hide();
  $('.item_available_datetimes').on('cocoon:after-insert', function(e, added_task) {
    check_datetimes();
    added_task.find('.reserve-date').datepicker({
        language: 'jpn',
        timepicker: true,
        minDate: new Date() // Now can select only dates, which goes after today
    });
  });
  $('.item_available_datetimes').on('cocoon:after-remove', function() {
    check_datetimes();
  });

  function check_datetimes() {
    if($('.item_available_datetimes .nested-fields').length == 5) {
      $('.item_available_datetimes a.add_fields').hide();
    } else {
      $('.item_available_datetimes a.add_fields').show();
    }
  }
});
</script>
<% end %>

<h3 class="text-center section__title-sub2">チケットを出品</h3>

<% if @item.errors.any? %>
<div class="alert alert-error alert-danger">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <ul>
    <% @item.errors.full_messages.each do |msg| %>
    <li><%= msg %>
    <% end %>
  </ul>
</div>
<% end %>

<%= form_for(@item, html: { class: "form-horizontal" }) do |f| %>
  <div class="form-group text-left">
    <%= f.label :services, class: "control-label col-xs-3 col-xs-offset-1" %>
    <div class="form-inline col-xs-7">
      <%= f.collection_check_boxes(:service_ids, Service.all, :id, :name) do |b| %>
        <div class="checkbox">
          <%= b.label(class: "checkbox-inline") { b.check_box + " " + b.text } %>&nbsp;
        </div>
      <% end %>
    </div>
  </div>

  <div class="form-group text-left">
    <%= f.label :title, class: "control-label col-xs-3 col-xs-offset-1" %>
    <div class="col-xs-5">
      <%= f.text_field :title, class: "form-control" %>
    </div>
  </div>

  <div class="form-group text-left">
    <%= f.label :detail, class: "control-label col-xs-3 col-xs-offset-1" %>
    <div class="col-xs-5">
      <%= f.text_area :detail, class: "form-control" %>
    </div>
  </div>

  <div class="form-group text-left item_available_japan_places">
    <%= f.label :item_available_japan_places, class: "control-label col-xs-3 col-xs-offset-1" %>
    <div class="col-xs-5">
      <div class="item_available_japan_places">
        <%= f.fields_for :item_available_japan_places do |form| %>
          <%= render "item_available_japan_place_fields", f: form %>
        <% end %>
      </div>
      <div class="links">
        <%= link_to_add_association "追加", f, :item_available_japan_places, { class: "btn btn-default btn-xs" } %>
      </div>
    </div>
  </div>

  <div class="form-group text-left item_available_datetimes">
    <%= f.label :item_available_datetimes, class: "control-label col-xs-3 col-xs-offset-1" %>
    <div class="col-xs-8">
      <div class="item_available_datetimes">
        <%= f.fields_for :item_available_datetimes do |form| %>
          <%= render "item_available_datetime_fields", f: form %>
        <% end %>
      </div>
      <div class="links">
        <%= link_to_add_association "追加", f, :item_available_datetimes, { class: "btn btn-default btn-xs" } %>
      </div>
    </div>
  </div>

  <div class="form-group text-left">
    <%= f.label :execution_time, class: "control-label col-xs-3 col-xs-offset-1" %>
    <div class="col-xs-2">
      <%= f.select :execution_time,
          { "30 分" => 30, "1 時間" => 60, "1 時間半" => 90, "2 時間" => 120, "2 時間半" => 150, "3 時間" => 180 },
          { include_blank: true },
          { class: "form-control" } %>
    </div>
  </div>

  <div class="form-group text-left">
    <%= f.label :price, class: "control-label col-xs-3 col-xs-offset-1" %>
    <div class="col-xs-2">
      <%= f.number_field :price, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-12 text-center">
      <%= f.submit "登録", class: "btn btn-danger" %>
    </div>
  </div>
<% end %>
