<% content_for :title do %>
チケット一覧
<% end %>

<% content_for :js do %>
<script>
  $(function() {
    $("#datepicker").datepicker();
  });
</script>
<% end %>

    <div class="job-detail-box c-border-t c-border-r c-border-l">
     <div class="container">
        <div class="row">
         <div class="job-detail-box__main-col col-md-8">
             <h3 class="c-bold"><%= @item.detail %></h3>
                 <dl class="c-table"><dt>エリア</dt><dd>東京都</dd></dl>
                 <dl class="c-table"><dt>サービス提供日時</dt><dd>7/30 11:00-, 8/2 11:00-</dd></dl>
                 <dl class="c-table"><dt>施術時間</dt><dd><%= @item.execution_time %>分</dd></dl>
                <div class="ticket-detail__body">
                    <p><%= @item.detail %></p>
                </div>
         </div><!-- .job-detail-box__main-col -->
         
         <div class="job-detail-box__sub-col col-md-4">
                <dl class="job-detail-box__user-info text-center">
                       <dt>
                          <%= image_tag @item.user.profile_image.url, class: "profile-img c-w100", size: "216x216", alt: "プロフィール写真" %>
                        </dt>
                        <dd><p class="job-detail-box__user-name c-only-bold"><%= @item.user.account_name.nil? ? "(アカウント名未登録)" : @item.user.account_name %></p></dd>
                    <dd><p class="job-detail-box__user-profile"><%= @item.user.profile.nil? ? "(プロフィール未登録)" : @item.user.profile %></p></dd>
                </dl>        
                
                <div class="job-detail-box__item-info row">
                    <div class="col-md-6 job-panel__list text-center">
                       <p>購入</p>
                       <p class="c-big-text">4</p>  
                    </div>
                    <div class="col-md-6 job-panel__list text-center">
                       <p>評価</p>
                       <p class="c-small-text"><i class="fa fa-star job-panel__rate fa-lg" aria-hidden="true"></i><i class="fa fa-star job-panel__rate fa-lg" aria-hidden="true"></i><i class="fa fa-star job-panel__rate fa-lg" aria-hidden="true"></i><i class="fa fa-star job-panel__rate fa-lg" aria-hidden="true"></i><i class="fa fa-star-o job-panel__rate fa-lg" aria-hidden="true"></i>(3)</p>  
                    </div>
                </div>
            </div><!-- .job-detail-box__sub-col -->
        </div>
    </div>
   　<div class="container">
   　    <div class="row">
   　        <div class="col-md-6">
   　            <div class="job-detail-box__item-question text-center">
                    <h4 class="c-only-bold">気になることを質問してみる</h4>
                        <%= form_for [:mypage, @item.user, @message], html: { class: "form-horizontal" } do |f| %>
                          <div class="form-group">
                                <div class="col-xs-10 col-xs-offset-1">
                                  <%= f.text_area :body, class: "form-control", rows: 4, placeholder: "例)大久保にきていただことは可能ですか？" %>
                                </div>
                            </div>
                            <div class="form-group">
                                    <div class="col-xs-10 col-xs-offset-1">
                                        <%= button_tag class: "btn btn-danger" do %>
                                          <i class="fa fa-comments-o fa-fw" aria-hidden="true"></i>メッセージを送る
                                        <% end %>
                                    </div>
                            </div>
                        <% end %>
                 </div><!-- .job-detail-box__item-question -->  
           </div>
            <div class="col-md-6">
                   <% if not current_user.nil? %>
                   <div class="job-detail-box__item-buy row text-center">
                    <h4 class="c-only-bold">チケットを予約する</h4>
                    <form class="form-horizontal">
                            <div class="form-group text-left">
                                <label class="control-label col-xs-3 col-xs-offset-1">日時</label>
                                <div class="col-xs-7">
                                    <input id="datepicker" type="text" name="date" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-3 col-xs-offset-1">場所</label>
                                <div class="col-xs-7">
                                    <input type="text" name="area" class="form-control" placeholder="東京都千代田区">
                                    <p class="c-small-text text-left">※ ご登録住所と、施術希望場所が異なる場合は、直接ご入力ください。</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-3 col-xs-offset-1">その他</label>
                                <div class="col-xs-7">
                                    <textarea class="form-control" rows="4"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <a class="btn btn-danger" href="/mypage/users/1/messages"><i class="fa fa-comments-o fa-fw" aria-hidden="true"></i>メッセージを送る</a>
                                </div>
                            </div>
                　　　　</form>
                    </div><!-- .job-detail-box__item-buy -->  
   　              </div>
   　              
   　              
                   <% else %>
                   <!-- ログインしていないユーザー用 -->
                       <div class="job-detail-box__item-buy text-center">
                        <h4 class="c-only-bold">新規登録して予約する</h4>
                          <%= link_to "無料ユーザー登録はこちら", new_user_registration_path, { class: "btn btn-warning btn-block modal-open c-only-bold" } %>
                        </div><!-- .job-detail-box__item-buy -->  
   　              </div><!-- TODO: 追加した。どこかタグの対応がおかしい -->
                  <% end %>
   　   </div> 
   　 </div>
   　           
  </div><!-- .ticket-detail-box -->

<section class="section c-bg-dark c-border-r c-border-l">
    <div class="container">
     <h3 class="text-center section__title">人気のチケット</h3>

  <% @items.each_slice(3) do |items| %>
    <div class="row">
      <%= render items %>
    </div>
  <% end %>
 </div>    
</section>

<%= render "shared/voice" %>

