<% user = item.user %>
<div class="mypage__main-col__message-box row">
  <div class="col-md-2">
    <p class="message_book-status c-only-bold">出品中</p>
  </div>
  <div class="main-col col-md-6">
    <%= link_to item, class: "c-link-underline" do %>
      <p class="message_title c-only-bold"><%= item.title %></p>
    <% end %>
    <p class="message_content"><%= item.detail %></p>
  </div>
  <div class="main-col col-md-4">
    <p class="message_date c-small-text">
      <% item.item_available_datetimes.each do |datetime| %>
        <%= l datetime.from, format: :short %> ～ <%= l datetime.to, format: :short %><br>
      <% end %>
    </p>
    <p class="message_date">
      <%= item.execution_time %>分
    </p>
    <p class="message_date">
      <%= item.price %>円
    </p>
  </div>
</div>
<hr class="c-hr">

