<% content_for :content do %>

<div class="jumbotron-underlayer">
  <div class="jumbotron">
    <div class="container">
      <h2 class="text-center jumbotron-underlayer__title">マイページ</h2>
    </div>
  </div>
</div>

<div class="mypage c-bg-light c-border-t c-border-r c-border-l">
    <div class="container">
        <div class="row">
          <div class="col-md-9 col-md-push-3 c-bg-white mypage__main-col">
            <%= yield %>
          </div>
          <div class="col-md-3 col-md-pull-9">
              <p class="text-center">
                <% if current_user.profile_image.url.nil? %>
                  <%= image_tag "/images/prof_img2.jpg", class: "mypage__profile-img c-w100", size: "216x216" %>
                <% else %>
                  <%= image_tag current_user.profile_image.url, class: "mypage__profile-img c-w100", size: "216x216" %>
                <% end %>
              </p>
              <p class="user-name text-center">
                <% if current_user.account_name.nil? %>
                  (ユーザー名 未登録)
                <% else %>
                  <%= current_user.account_name %>
                <% end %>
              </p>

              <div id="mypage__menu">
                <%= render "mypages/menu" %>
              </div><!-- .mypage__menu -->
           </div>

       </div>
    </div>
</div><!-- .mypage -->
<% end %>

<%= render template: "layouts/application" %>
